<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.18.2" targetFramework="net45" />
  <package id="Rx-Core" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Interfaces" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Linq" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Main" version="4.1.6" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Testing" version="4.1.6" targetFramework="net45" />
</packages>