<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StaticFileRoot" value="client/dist" />
    <add key="StaticFileTypes" value="html=text/html,js=application/javascript,css=text/css" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>