<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="protobuf-net" version="3.1.29" targetFramework="net45" />
  <package id="Rx-Core" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Interfaces" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Linq" version="4.1.6" targetFramework="net45" />
  <package id="Rx-Main" version="4.1.6" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="4.1.6" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.11.0" targetFramework="net45" />
  <package id="Topshelf" version="4.3.0" targetFramework="net45" />
</packages>